* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  grid-template-areas:
    "navigation" "navigation"
    "title"      "sidebar"
    "content"    "sidebar"
    "footer"     "footer";
  width: 100vw;
  height: 100vh;
}

.main.main--splash {
  grid-template-areas:
    "title"
    "navigation";
  align-content: center;
  text-align: center;
}

.main__title {
  grid-area: title;
}

.main__nav {
  grid-area: navigation;
}

.nav {
  list-style-type: none;
}

.nav__link {
  display: inline;
}

.nav .nav__link:after {
  margin-left: 1em;
  margin-right: 1em;
  content: "|";
}

.nav .nav__link:last-child:after {
  margin-left: 0;
  margin-right: 0;
  content: "";
}

